<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547918345551-orh7danntavp41lbfh79v02ejccguc28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547918345551-orh7danntavp41lbfh79v02ejccguc28</string>
	<key>API_KEY</key>
	<string>AIzaSyDtfjP9yEjKiafCLtqI30D-G9OWUh6NDT8</string>
	<key>GCM_SENDER_ID</key>
	<string>547918345551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.wordpress-react-native-app</string>
	<key>PROJECT_ID</key>
	<string>wordpress-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>wordpress-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547918345551:ios:5bc71120d875dc2878413a</string>
	<key>DATABASE_URL</key>
	<string>https://wordpress-react-native.firebaseio.com</string>
</dict>
</plist>